@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root { /*Qualquer lugar da aplicação vai enxergar essas variáveis.*/
  --primary-color: #da5c5c;
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

/*Zerando os espaçamentos externos e internos de toda a aplicação*/
html, body {
  margin: 0;
  padding:0;
}

/*Definindo a fámilia de toda a aplicação*/
body {
  font-family: 'Open Sans', sans-serif;
}

/*Removendo o sublinhado de todos os links da aplicação*/
a {
  text-decoration: none;
}